* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    font-size: 1.5em;
}

.board, .cell {
    border: 1px solid #000;
}

.board {
    width: 600px;
    height: 600px;
    margin: 10px auto;
    border-collapse: collapse;
}

.cell {
    width: 300px;
    height: 300px;
    transition: background-color .3s;
}

.cell[alive="false"] {
    background-color: #FFF;
}

.cell[alive="true"] {
    background-color: #000;
}

.cell[alive="false"]:hover {
    cursor: pointer;
    background-color: #CCC;
}

.cell[alive="true"]:hover {
    cursor: pointer;
    background-color: #555;
}

.board[running="true"] .cell[alive="true"]:hover {
    cursor: auto;
    background-color: #000;
}

.board[running="true"] .cell[alive="false"]:hover {
    cursor: auto;
    background-color: #FFF;
}

.error {
    display: none;
}

.error span {
    font-weight: lighter;
    font-size: 1rem;
    color: #FF0000;
}

.error:hover span {
    cursor: pointer;
    color: #CC0000;
}

.input {
    margin: 10px auto 0 auto;
}

#size, #enter, #start, #pause {
    height: 40px;
    outline: none;
}

#size, #enter {
    width: 48%;
}

#size {
    margin-right: 3%;
    border: none;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    padding-left: 5px;
}

button {
    font-weight: bold;
    background-color: #FFF;
    border: none;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
    transition: background-color .3s;
}

button:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #000;
}

#start, #pause {
    width: 100%;
    margin-top: 10px;
    display: block;
}

#pause {
    display: none;
}